html, body, *{
  box-sizing:border-box;
  }
  .wrapper{
  width:500px;
  margin:10% auto 0 auto;
  background:#d5d5d5;
  position:relative;
  padding:20px;
  }
  .tabcontent > input{
  visibility:hidden;
  }
  .tabcontent >input{
  display:none;
  }
  .wrapper >label:before{
  content:"";
  width:15px;
  height:15px;
  display:inline-block;
  border:2px solid #fff;
  margin-right:10px;
  top:4px;
  position:relative;
  line-height:15px;
  text-align:center;
  }
  .wrapper >input:checked ~ label:before{
  
  background:#fff;;
  }
  .content{
  -webkit-transition: all linear ;
  -moz-transition: all 200ms ;
  -o-transition: all 200ms ;
  transition: all 200ms ;
  max-height:0;
  display: block;
  position: relative;
  overflow: hidden;
  /* display:none;*/
  
  }
  .different{
    overflow:hidden;
  }
  .different .content{
       max-height:none;
       transform:translateX(-100vw);
       position:absolute;
  }
  .different input[type="radio"]:checked~.content{
       max-height:none;
       transform:translateX(100vw);
       position:absolute;
  }
  .different input[type="radio"]:checked+.content{
    -webkit-transition: all 500ms linear 500ms;
  -moz-transition: all 500ms linear 500ms;
  -o-transition: all 500ms linear 500ms;
  transition: all 500ms linear 500ms;
       max-height:none;
       transform:translateX(0);
       position:relative;
  }

  .thirdanimation .content{
       max-height:none;
       transform:translateX(-100vw);
       position:absolute;
  }
  .thirdanimation input[type="radio"]:checked~.content{
       max-height:none;
       transform:translateX(100vw);
       position:absolute;
  }
  .thirdanimation input[type="radio"]:checked+.content{
       max-height:none;
       transform:translateX(0);
       position:relative;
  }

.fourthanimation .content{
       max-height:none;
       transform:translateX(-100vw);
       position:absolute;
  }
  .fourthanimation input[type="radio"]:checked~.content{
       max-height:none;
       transform:translateX(100vw);
       position:absolute;
  }
  .fourthanimation input[type="radio"]:checked+.content{
       max-height:none;
       transform:translateX(0);
       position:relative;
  }


  input[type="radio"]:checked+.content{
  -webkit-transition: all 200ms linear 200ms;
  -moz-transition: all 200ms linear 200ms;
  -o-transition: all 200ms linear 200ms;
  transition: all 200ms linear 200ms;
  /*display:block;*/
  max-height:500px;
  
  }
  .tabsmenu {
  width:100%;
  clear:both;
  }
  .menuelement{
  width:auto;
  display: inline-block
  }
  .btn{
  cursor:pointer;
  display:inline-block;
  width:100%;
  display:block;
  background:#19c4b1;
  padding:5px 10px ;
  }